<% if @issue.project.enabled_module_names.include?(:sla_timer.to_s) %>
  <div class="sla-timer attribute">
    <div class="label"><%= l(:field_sla_timer) %></div>
    <div class="value">
      <%= content_tag(:span, @issue.sla_timer, style: "color:#{@issue.sla_timer_font_color};") %>
    </div>
  </div>
<% end %>
  <%= javascript_include_tag :redmine_sla_timer, :plugin => 'redmine_sla_timer' %>